<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Eliminar Persona</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Precaución!</h3>
        <h5>Está a punto de eliminar un registro</h5>
        <h5>¿Esta seguro que desea eliminar el registro de {{ persona.nombre }} {{ persona.apellidos }}?</h5>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar' %}" class="btn btn-warning">Cancelar</a>
    </form>
</body>
</html>