<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <h1>Bienvenido!</h1>
    <h3>Aplicacion de implementación de CRUD</h3>
    <p>Aplicacion que se encarga del control de los registros de los usuarios</p>
    <p>Para consultar los usuarios haga clic en el boton "Consultar"</p>
    <a href="{% url 'listar' %}" class="btn btn-primary">Consultar</a>
</body>
</html>