<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Listar Personas</title>
</head>
<body>
    <form>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Documento</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>FechaNacimiento</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
                {% for persona in personas %}
            <tr>
                <td>{{ persona.documento }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellidos }}</td>
                <td>{{ persona.fechaNacimiento }}</td>
                <td><a href='http://localhost:8000/aplicacion/editar/{{ persona.documento }}' class="btn btn-warning">editar</a></td>
                <td><a href='http://localhost:8000/aplicacion/eliminar/{{ persona.documento }}' class="btn btn-danger">eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </form>
    <form>
        <a href="{% url 'crear' %}" class="btn btn-success">Nuevo</a>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
    </form>
</body>
</html>